/* Modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button */
.close,
.close-modal-mens,
.close-modal-ac, .close-modal-waterproofing , .close-modal-electrician{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close, .close-modal-mens, .close-modal-waterproofing, .close-modal-electrician ,
.close-modal-ac:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Grid for services */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
}

.service-item {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  font-family: syne;
  transition: all 0.4s ease;
  cursor: pointer;
}
.service-item:hover {
  opacity: 0.8;
}
.service-item a {
  text-decoration: none;
  color: black;
}
.modal-content h2 {
  margin-bottom: 40px;
  font-family: syne;
}
.service-item img {
  height: 50px;
  width: 50px;
}

.modal-for-women-spa-saloon-icon {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.close-modal-for-women-spa-saloon-icon {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-for-women-spa-saloon-icon:hover,
.close-modal-for-women-spa-saloon-icon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content-1 {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content-1 h2 {
  margin-bottom: 40px;
  font-family: syne;
}

.close-modal-for-women-spa-saloon-icon {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.formens {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#modal-for-waterproofing .modal-content{
  max-width: 500px;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}